@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    display: none;
}

.header__image {
    display: none;
}

.xbox.xbox_store {
    top: 90px;
}

.xbox.xbox_monitoring {
    top: 90px;
}

.xbox.xbox_custom {
    top: 84px;
    right: 1px;
}

.xbox {
    top: 90px;
}

.store-servers {
    display: none;
}

.store-filters {
    display: none;
}

ul {
    margin-left:0;
    padding-left:0
}

li  {
    list-style-position:inside
}

.store-products__item {
    width:25%
}
@media (max-width:560px) {
    .store-products__item {
        width:50%
    }
}

.topbar  {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
}

.navbar  {
    background: rgba(1, 1, 1, 0);
    border: none;
    box-shadow: none;
    padding-right: 0px;
    padding-left: 0px
}

.navbar-brand  {
    display:none
}

.xbox__header,.xbox__footer  {
    background:#2b2b2b
}

.modal-header,.modal-footer  {
    background:#2b2b2b !important
}

.modal-body  {
    background:#202020
}

.navbar .navbar-nav .nav-link:focus,.navbar .navbar-nav .nav-link:hover  {
    color:#fa3838;
    border-bottom:solid 1px #fa3838
}

.dropdown-menu  {
    background-color:#2b2b2b;
    border-radius:2px
}

.dropdown-item  {
    color:#a09f9d
}

.dropdown-item:hover,.dropdown-item:focus  {
    background:#202020;
    color:#a09f9d
}

.btn-success  {
    background:#bf5660;
    border:none;
    color:#fff;
    opacity:1
}

.btn-success:hover,.btn-success:active,.btn-success:focus  {
    opacity:0.65;
    background:#bf5660;
    color:#fff;
    box-shadow:none
}

.product__price-old  {
    display:none
}

.product__price  {
    color:rgba(255, 255, 255, 0.9);
    background:rgba(0, 0, 0, 0.2)
}

.bg-success  {
    background-color:#600 !important
}

.progress-bar[aria-valuemax="0"]  {
    width:100%;
    background-color:#600 !important
}

.btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
    color: rgb(255 255 255 / 95%);
    background: linear-gradient(to right, #904e95 2%, #e96443 98%);
}

.nav-pills .nav-link.active  {
    color:rgba(255, 255, 255, 0.9);
    background:rgba(255, 255, 255, 0.2)
}

.nav-pills .nav-link:focus,.nav-pills .nav-link:hover  {
    color:rgba(255, 255, 255, 0.9);
    background:rgba(255, 255, 255, 0.2)
}

.btn-primary  {
    color:#fff;
    background-color:#5e2214;
    border:solid 1px #5e2214
}

.btn-primary:hover,.btn-primary:focus  {
    color:#fff;
    background-color:#5e2214;
    border:solid 1px #5e2214;
    opacity:0.8
}
.btn-success.disabled,.btn-success:disabled  {
    background-color:red;
    border-color:red;
    opacity:0.4
}

.footer a  {
    color:#d50909
}
.footer a:hover,.footer a:focus  {
    color:red
}
a  {
    color:#e7a6a6
}
a:hover,a:focus  {
    color:#ff7a7a
}
.store-products__item  {
    animation:zoomIn 1s
}
.product  {
    box-shadow:0 1px 8px 3px rgba(0, 0, 0, 0.25)
}
.roulette-item  {
    box-shadow:0 1px 12px 6px rgba(0, 0, 0, 0.4);
    border-bottom:solid 4px red
}
.modal-roulette input#price  {
    margin-right:1px
}
.warnings_skin2  {
    display:none;
    background:#f2e8c8;
    color:#b2ac7f;
    border-radius:15px;
    padding:15px;
    text-align:center;
    margin-top:10px
}
.banner-image-clickable-242  {
    cursor:pointer
}
.banner-image-self-241  {
    display:block;
    overflow:hidden;
    border-radius:15px 15px 0px 0px;
    transition:all 220ms ease-out
}
.banner-image-self-241:hover  {
    box-shadow:0px 10px 10px -8px rgba(0, 0, 0, 0.1)
}
.banner-image-image-243  {
    width:100%;
    height:auto;
    display:block
}
.xbox_skins  {
    border-radius:15px
}
.xbox_skins .xbox__footer  {
    margin-top:0px
}
.xbox_skins .btn-skins  {
    display:block;
    width:100%;
    border-radius:0px 0px 15px 15px;
    background:white;
    border:none;
    color:black;
    opacity:1;
    padding:7px;
    font-weight:100;
    cursor:pointer;
    transition:all 300ms ease 0s;
    letter-spacing:0px
}
.xbox_skins:hover .btn-skins  {
    background:black;
    color:white;
    letter-spacing:1px;
    transition:all 300ms ease 0s
}
.product__servers  {
    display:none
}
.sk-spinner-wave div  {
    background-color:black
}
.xbox_custom_rules  {
    color:black
}
.xserver__links a  {
    margin-top:1px !important
}
.xserver__links  {
    margin-top:-30px !important;
    color:white
}
.avatar  {
    background:#dfdfdf
}
.xbox_player .xbox__header  {
    display:block !important
}
.fa-play  {
    margin-top:0px !important
}
.desc-service3  {
    background:#fff;
    border-left:3px solid #b4bf56;
    -webkit-transform:skewY(0deg);
    transform:skewY(0deg);
    position:initial;
    letter-spacing:0;
    color:black;
    padding:4px;
    flex-direction:row;
    border-radius:0px 15px 15px 0px;
    margin-bottom:2px;
    cursor:pointer;
    transition:all 0.2s ease-out;
    padding-left:14px
}
.desc-service3:hover  {
    letter-spacing:0.5px;
    transition:all 0.3s ease-out;
    color:#b4bf56
}
.desc-service3:after  {
    content:"?";
    height:100%;
    width:40px;
    background:#ccc url() no-repeat;
    background-size:20px 20px;
    background-position:center;
    border-radius:0px 15px 15px 0px;
    position:absolute;
    font-size:20px;
    right:0;
    font-weight:bold;
    top:0;
    bottom:0;
    margin:auto;
    color:#fff;
    border:0;
    outline:0 none;
    text-align:center;
    padding:2px;
    transition:all 0.2s ease-out
}
.desc-service3:hover:after  {
    content:"?";
    height:100%;
    width:40px;
    background:#b4bf56 url() no-repeat;
    background-size:20px 20px;
    background-position:center;
    border-radius:0px 15px 15px 0px;
    position:absolute;
    font-size:20px;
    right:0;
    font-weight:bold;
    top:0;
    bottom:0;
    margin:auto;
    color:#fff;
    border:0;
    outline:0 none;
    text-align:center;
    padding:2px;
    transition:all 0.2s ease-out
}
.roulette-item  {
    transform:skewY(0deg) !important
}
.roulette-item__image  {
    box-shadow:0px 10px 10px -8px rgba(0, 0, 0, 0) !important;
    transition:all 300ms ease 0s
}
.roulette-item__image:hover  {
    box-shadow:0px 10px 10px -8px rgba(0, 0, 0, 0.1) !important;
    transition:all 300ms ease 0s
}
.xbox_rules  {
    text-transform:none !important
}
.xserver:nth-child(4)  {
    margin-bottom:5px
}
.service__description .container-oplata  {
    display:-webkit-inline-box;
    margin-bottom:5px;
    padding:5px;
    height:50px;
    width:100%;
    border-radius:12px;
    background:#fff;
    -webkit-box-sizing:border-box;
    text-align:initial;
    transition:all 0.2s ease-out;
    cursor:pointer;
    transform:scale(1)
}
.service__description .container-oplata:last-child  {
    margin-bottom:0px !important
}
.service__description .container-oplata:hover  {
    transform:scale(0.95)
}
.service__description .container-oplata  {
    display:flex
}
.service__description .icon-user-oplata  {
    width:30px !important;
    height:30px !important;
    border-radius:0px;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    margin:5px;
    margin-right:10px !important
}
.service__description .textContainer-oplata  {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-evenly;
    overflow:hidden
}
@media (max-width:450px)  {
    .service__description .name-user  {
        font-size:14px;
        line-height:20px;
        font-weight:600
    }
}
@media (max-width:450px)  {
    .service__description .category-user  {
        font-size:10px;
        line-height:18px;
        color:#b5b5b5
    }
}
@media (max-width:340px)  {
    .service__description .name-user  {
        font-size:12px;
        line-height:20px;
        font-weight:600
    }
}
.service__description .container-oplata:nth-child(1)  {
    animation:zoomIn 0.6s
}
.service__description .container-oplata:nth-child(2)  {
    animation:zoomIn 0.8s
}
.service__description .container-oplata:nth-child(3)  {
    animation:zoomIn 1s
}
.service__description .container-oplata:nth-child(4)  {
    animation:zoomIn 1.2s
}
.service__description .container-oplata:nth-child(5)  {
    animation:zoomIn 1.4s
}
.service__description .container-oplata:nth-child(6)  {
    animation:zoomIn 1.6s
}
.service__description .container-oplata:nth-child(7)  {
    animation:zoomIn 1.8s
}
.service__description .container-oplata:nth-child(8)  {
    animation:zoomIn 2s
}
.service__description .container-oplata:nth-child(9)  {
    animation:zoomIn 2.2s
}
.service__description .container-oplata:nth-child(10)  {
    animation:zoomIn 2.4s
}
.service__description .container-oplata:nth-child(11)  {
    animation:zoomIn 2.6s
}
.service__description .container-oplata:nth-child(12)  {
    animation:zoomIn 2.8s
}
.service__description .container-oplata:nth-child(13)  {
    animation:zoomIn 2.8s
}
.service__description .container-oplata:nth-child(2),.service__description .container-oplata:nth-child(3),.service__description .container-oplata:nth-child(4),.service__description .container-oplata:nth-child(5),.service__description .container-oplata:nth-child(6),.service__description .container-oplata:nth-child(7),.service__description .container-oplata:nth-child(8),.service__description .container-oplata:nth-child(9),.service__description .container-oplata:nth-child(10),.service__description .container-oplata:nth-child(11),.service__description .container-oplata:nth-child(12),.service__description .container-oplata:nth-child(13)  {
    display:-webkit-inline-box;
    margin-bottom:5px;
    padding:5px;
    height:50px;
    width:100%;
    border-radius:12px;
    background:#333;
    -webkit-box-sizing:border-box;
    text-align:initial;
    transition:all 0.2s ease-out;
    cursor:default;
    transform:scale(1)
}
.priv_discount  {
    position:absolute;
    background:#1b1b1b;
    font-size:14px;
    border-radius:0px 10px 0px 10px;
    top:0px;
    padding:0px 8px 0px 10px;
    right:0px;
    opacity:1;
    font-weight:400;
    z-index:3;
    color:white;
    cursor:help
}
.priv_discount2  {
    position:absolute;
    background:rgba(33, 33, 33, 0.5);
    font-size:14px;
    border-radius:0px 10px 0px 10px;
    top:0px;
    padding:0px 8px 0px 10px;
    right:0px;
    opacity:1;
    font-weight:400;
    z-index:3;
    color:white;
    cursor:help
}
.container-oplata .tooltiptext1  {
    visibility:hidden;
    width:170px;
    background-color:rgba(0, 0, 0, 0.5);
    color:#fff;
    text-align:center;
    border-radius:6px;
    padding:10px;
    position:absolute;
    z-index:1;
    left:105%;
    opacity:0;
    transition:opacity 220ms ease-out
}
.container-oplata .tooltiptext1::after  {
    content:"";
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-5px;
    border-width:5px;
    border-style:solid;
    border-color:transparent rgba(0, 0, 0, 0.5) transparent transparent
}
.container-oplata:hover .tooltiptext1  {
    visibility:visible;
    opacity:1
}
.tooltip1:hover .tooltiptext1  {
    visibility:visible;
    opacity:1
}
@media (max-width:610px)  {
    .container-oplata .tooltiptext1  {
        visibility:hidden;
        width:150px;
        background-color:rgba(0, 0, 0, 0.3);
        backdrop-filter:blur(5px);
        color:#fff;
        text-align:center;
        border-radius:6px;
        padding:10px;
        position:absolute;
        z-index:5;
        bottom:110%;
        left:50%;
        opacity:0;
        margin-left:20px;
        transition:opacity 220ms ease-out
    }
}
@media (max-width:610px)  {
    .container-oplata .tooltiptext1::after  {
        border-color:transparent transparent transparent transparent
    }
}
.xbox_server .nav-pills .nav-link:nth-child(3)  {
    border-radius:0px 0px 15px 0px;
    display:none
}
.server-navigation .nav-pills .nav-link:first-child  {
    border-radius:0px 0px 0px 15px !important
}
.modal-backdrop.show  {
    opacity:0.6 !important
}
.nav-link[href="/profile/transfers"]  {
    display:none
}
.skin-warning  {
    background:#ffe9e6;
    color:#dd9c95;
    border-radius:19px;
    margin-left:8px;
    padding:2px 7px
}
.warnings_skin  {
    background:#f2e8c8;
    color:#b2ac7f;
    border-radius:15px;
    padding:15px;
    text-align:center
}
.service__description .oplata_cont  {
    flex-direction:column !important
}
body,.wrapper  {
    background:#1b1b1b repeat-y;
    background-size:1920px 1080px;
    background-repeat:repeat
}
body  {
    font-family:'Jost', sans-serif;
    color:#fff;
    overflow:overlay
}
*::-webkit-scrollbar  {
    display:none
}
body::-webkit-scrollbar  {
    background:transparent;
    width:12px;
    display:block
}
*::-webkit-scrollbar-thumb  {
    border:4px solid transparent;
    border-radius:100px;
    background:#333;
    background-clip:content-box
}
button,input,optgroup,select,textarea  {
    font-family:unset
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-lg,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-md,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-sm,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-xl,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12  {
    position:unset
}
.container  {
    width:1300px;
    max-width:95%
}
.nav-link[href="/feedback"],.nav-link[href="/news"]  {
    display:none
}
.xbox_store .xbox__header  {
    display:none
}
.xbox__body  {
    padding:0px;
    background:none
}
.xbox  {
    background:none;
    padding:0px
}
.xbox_monitoring .xbox__header  {
    display:none
}
.xbox_monitoring .xbox__footer  {
    display:none
}
.xbox  {
    box-shadow:none
}
.product__quantity  {
    display:none
}
.col-lg-8 .xbox .xbox__header  {
    display:none
}
.xbox_server .xbox__header,.xbox_player .xbox__header  {
    display:block !important
}
.xbox__body  {
    color:#fff
}
.xbox  {
    margin-bottom:15px
}
.xbox_store > .xbox__footer  {
    color:black;
    font-size:80%;
    background:none;
    text-align:center;
    margin-top:20px
}
.footer-link__item  {
    padding:10px 20px;
    color:black;
    margin:-10px 5px 0px 5px;
    background:white;
    border-radius:15px
}
.footer-link__item:hover  {
    padding:10px 20px;
    color:black;
    margin:-10px 5px 0px 5px;
    background:#fff;
    border-radius:15px
}
::selection  {
    color:white !important;
    background:gray !important
}
.navbar .navbar-brand,.navbar .navbar-brand:focus,.navbar .navbar-brand:hover,.navbar .navbar-nav .nav-link,.navbar .navbar-toggler,.navbar .navbar-toggler:focus,.navbar .navbar-toggler:hover  {
    color:#fff
}
.float-lg-right  {
    float:right !important;
    text-transform:uppercase
}
.navbar-brand  {
    display:flow-root !important;
    padding:1.3em 1.3em;
    margin-right:30px;
    margin-left:15px;
    font-size:16px;
    line-height:inherit;
    white-space:nowrap;
    font-weight:bold;
    padding-right:0.5rem;
    padding-left:0.5rem
}
.navbar .nav-link  {
    padding:1.3em 1.3em
}
.navbar .navbar-nav .nav-link:focus,.navbar .navbar-nav .nav-link:hover  {
    color:#fff;
    background:#333;
    border-bottom:unset
}
.nav-link:hover  {
    border-top:none;
    background:white;
    color:black
}
.nav-link[href="/api/lang.php"]  {
    padding-left:20px !important;
    padding-right:20px !important;
    border-radius:0px 0px 15px 0px;
    font-weight:bold
}
@media (max-width:991px)  {
    .nav-link[href="/api/lang.php"]  {
        border-radius:0px 0px 15px 15px
    }
}
.navbar .navbar-toggler-icon  {
    background-image:unset
}
.navbar-toggler-icon  {
    display:inline-block;
    width:0rem;
    height:0rem;
    vertical-align:middle
}
button:focus  {
    outline:none
}
.btn:focus  {
    outline:none;
    border:none
}
.navbar .navbar-toggler-icon  {
    background-image:unset
}
.navbar-toggler  {
    padding:0.25rem 0rem;
    line-height:1;
    background:transparent;
    border:unset;
    border-radius:unset
}
.navbar .navbar-toggler  {
    border-color:unset;
    border:unset;
    margin-top:15px
}
.navbar-toggler:after  {
    font-family:FontAwesome;
    content:"\F0C9";
    font-weight:100;
    font-size:25px
}
.navbar .navbar-nav .active > .nav-link,.navbar .navbar-nav .nav-link.active,.navbar .navbar-nav .nav-link.open,.navbar .navbar-nav .open > .nav-link  {
    color:white;
    background:#333
}
.navbar-nav .dropdown .nav-link:after  {
    font-family:FontAwesome;
    content:"\f107";
    font-size:15px;
    margin-left:4px;
    color:#bbb
}
.navbar-nav .dropdown .nav-link:focus:after  {
    font-family:FontAwesome;
    content:"\f106";
    margin-left:4px
}
.dropdown-menu  {
    background:none;
    overflow:hidden;
    padding:0px;
    border-radius:0px;
    margin:0px;
    color:#a1a1a1
}
.dropdown-menu .dropdown-item:hover  {
    box-shadow:none;
    color:white
}
.dropdown-menu .dropdown-item  {
    color:#cecece;
    line-height:24px;
    margin-bottom:0px;
    background:#333
}
.dropdown-menu button  {
    color:#a1a1a1;
    padding:unset;
    line-height:24px;
    transition:0.1s
}
.dropdown-menu button a  {
    color:#a1a1a1;
    display:block;
    padding:5px 1.5rem;
    transition:all 0.1s
}
.dropdown-menu button a:hover  {
    color:white
}
.dropdown-menu  {
    border:none
}
.dropdown-item  {
    padding:5px 1.5rem
}
.dropdown-item:nth-child(2n)  {
    animation:zoomIn 0.2s
}
.dropdown-item:nth-child(3n)  {
    animation:zoomIn 0.4s
}
.dropdown-item:nth-child(4n)  {
    animation:zoomIn 0.6s
}
.dropdown-item:nth-child(5n)  {
    animation:zoomIn 0.8s
}
.dropdown-item:nth-child(6n)  {
    animation:zoomIn 1s
}
.dropdown-item:last-child  {
    border-radius:0px 0px 15px 15px
}

.store-filters .input-group  {
    border-radius:25px
}
.input-group-addon  {
    color:#fff;
    background:#262626;
    border-radius:25px;
    border:unset
}
.form-control,.form-control:focus  {
    color:#fff;
    border-color:transparent;
    background:#262626;
    transition:all 0.2s ease-in-out
}
.form-control  {
    border:none;
    border-radius:25px
}
.store-filters .form-control  {
    padding:13px 13px 13px 0px
}
.form-control  {
    padding:13px 13px 13px 0px
}
::placeholder  {
    color:#e2e2e2 !important
}
.fa-search:before  {
    content:"\F002";
    padding:10px;
    border-radius:20px;
    color:white;
    margin-left:-6px
}
select.form-control:not([size]):not([multiple])  {
    height:unset
}
.product  {
    background:#272727;
    box-shadow:unset;
    transform:none;
    border-radius:15px;
    animation:none
}
.product:hover  {
    box-shadow:unset;
    transform:none;
    box-shadow:0px 10px 10px -8px rgba(70, 70, 70, 0.1);
    transform:translate3d(0px, -5px, 0px);
    transition:all 300ms ease 0s
}
.product__image  {
    width:100%;
    transform:scale(0.9);
    padding-top:0px;
    padding-bottom:50px
}
.store-products__item  {
    animation:none
}
.product__name  {
    position:absolute;
    bottom:5px;
    left:10px;
    right:70px;
    color:#fff;
    background:unset;
    padding:8px;
    font-size:12px;
    font-weight:700;
    text-overflow:ellipsis;
    text-shadow:unset;
    overflow:hidden;
    opacity:1
}
.product__discount  {
    background:#333;
    border-radius:90px;
    top:10px;
    right:10px;
    opacity:1;
    font-weight:400;
    box-shadow:0px 5px 15px -6px #1d1d1d;
    z-index:3;
    color:#fff
}
.product__price  {
    color:#e7a6a6;
    text-align:end;
    background:unset;
    bottom:8px;
    right:10px;
    border-radius:10px;
    font-weight:bold;
    z-index:1
}
.product__price-old  {
    display:inline;
    font-size:11px;
    right:1px;
    font-weight:100;
    color:#cbcfe3
}
.blueprint__image,.product_blueprint .product__image  {
    background:url(https://i.imgur.com/tXpilqO.png);
    background-size:90%;
    background-position:center 0;
    background-repeat:no-repeat
}
.product_blueprint .product__image  {
    transform:scale(0.8)
}
.xserver {
    margin-bottom:10px;
    padding:14px;
    background:#272727;
    border-radius:15px;
    transition:all 220ms ease-out
}
.xserver__title a {
    font-size:15px;
    text-overflow:ellipsis;
    color:#fff;
    font-weight:100;
    transition:all 0.2s ease-out
}
.xserver__title a:hover {
    font-size:15px;
    text-overflow:ellipsis;
    color:#f5f5f5;
    font-weight:100;
    transition:all 0.2s ease-out
}
.xserver__links a {
    color:#fff;
    font-weight:100;
    text-shadow:1px 1px 2px rgba(1, 1, 1, 0.2);
    margin-left:2px;
    font-size:15px;
    margin-top:2.9px;
    letter-spacing:1px;
    transition:all 0.5s ease-out
}
.xserver:hover .xserver__links a {
    letter-spacing:0px;
    transition:all 0.5s ease-out
}
.xserver__links {
    font-weight:100
}
.fa-user-times:before {
    content:none
}
.fa-bar-chart-o:before,.fa-bar-chart:before {
    content:none
}
.fa-globe:before {
    content:none
}
.fa-play:before {
    font-family:FontAwesome;
    content:"\f144";
    font-size:23px
}
.fa-play {
    animation:rotation 2.8s infinite linear;
    transition:0.5s;
    margin-right:-11px;
    color:#333;
    text-shadow:none;
    margin-top:0px
}
@keyframes rotation {
    from {
        transform:rotate(359deg)
    }
    to {
        transform:rotate(0deg)
    }
}
@keyframes bounce-2 {
    0% {
        transform:translateY(0)
    }
    50% {
        transform:translateY(-100px)
    }
    100% {
        transform:translateY(0)
    }
}
.xserver .xserver__status .progress .bg-success {
    border-radius:20px
}
@keyframes load {
    0% {
        width:0
    }
    100% {
        width:68% !important
    }
}
.xserver__status {
    margin-bottom:5px;
    padding-right:25px
}
.progress-bar-striped {
    background-size:1rem 1rem
}
.progress {
    background-color:#333;
    animation:progress-bar-stripes 10s linear infinite;
    background-size:1rem 1rem
}
.xserver__links {
    display:flex;
    margin-top:-32px;
    margin-left:10px;
    margin-right:10px
}
.progress-bar {
    height:1.7rem
}
.progress {
    border-radius:20px 20px 20px 20px
}
.xbox_monitoring .xserver:first-child {
    border-radius:15px
}
.xserver:nth-child(1) .xserver__status .progress .bg-success {
    background:linear-gradient(to right, #904e95 2%, #e96443 98%);
    animation:load 2s normal forwards;
}
.xserver:nth-child(2) .xserver__status .progress .bg-success {
    background:linear-gradient(to right, #904e95 2%, #e96443 98%);
    animation:load 3s normal forwards;
}
.xserver:nth-child(3) .xserver__status .progress .bg-success {
    background:linear-gradient(to right, #904e95 2%, #e96443 98%);
    animation:load 4s normal forwards;
}
.xserver:nth-child(4) .xserver__status .progress .bg-success {
    background:linear-gradient(to right, #904e95 2%, #e96443 98%);
    animation:load 5s normal forwards;
}
.xserver:nth-child(5) .xserver__status .progress .bg-success {
    background:linear-gradient(to right, #904e95 2%, #e96443 98%);
    animation:load 6s normal forwards;
}
.xserver:nth-child(1) .fa-play:hover {
    color:#dc6648
}
.xserver:nth-child(2) .fa-play:hover {
    color:#48a4dc
}
.xserver:nth-child(3) .fa-play:hover {
    color:#f9be77
}
.xserver:nth-child(4) .fa-play:hover {
    color:#c8b3f3
}
.xserver:nth-child(5) .fa-play:hover {
    color:#a8d2f3
}
.nav-pills .nav-link {
    color:#fff;
    background-color:#262626;
    border-radius:0px
}
.nav-pills .nav-link:hover {
    color:#fff;
    background-color:#333;
    letter-spacing:2px
}
.nav-pills .nav-link:focus {
    color:#fff;
    background-color:#333;
    letter-spacing:2px
}
.nav-pills .nav-link.active {
    color:#fff;
    background-color:#333;
    letter-spacing:2px
}
.flex-column {
    text-align:center
}
.xbox_server .nav-pills .nav-link:nth-child(2) {
    display:none
}
.server-navigation .nav-pills .nav-link {
    color:#fff;
    background-color:#262626;
    border-radius:0px;
    transition:none
}
.server-navigation .nav-pills .nav-link:hover {
    color:white;
    background-color:#333;
    letter-spacing:0px
}
.server-navigation .nav-pills .nav-link:focus {
    color:white;
    background-color:#333;
    letter-spacing:0px
}
.server-navigation .nav-pills .nav-link.active {
    color:#fff;
    background-color:#333;
    letter-spacing:0px
}
.server-navigation .nav-pills .nav-link:first-child {
    border-radius:0px 0px 0px 15px
}
.server-navigation .nav-pills .nav-link:last-child {
    border-radius:0px 0px 15px 0px
}
@media (max-width:767px) {
    .server-navigation .nav-pills .nav-link:first-child {
        border-radius:0px 0px 0px 0px
    }
}
@media (max-width:767px) {
    .server-navigation .nav-pills .nav-link:nth-child(3) {
        border-radius:0px 0px 15px 15px
    }
}
.server-address .form-control {
    padding:13px 13px 13px 20px
}
.xbox__header {
    margin:0;
    line-height:100%;
    font-size:1.05rem;
    font-weight:900;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    background:#262626;
    padding:10px;
    border-radius:15px 15px 0px 0px
}
.xbox__header h4 {
    font-weight:bold
}
.xbox__header {
    margin-bottom:5px
}
.xbox__footer {
    background:none;
    padding:0;
    margin-top:5px
}
.xbox_purchases .xbox__header {
    display:none
}
.xbox_queue .xbox__header {
    display:none
}
.xbox_payments .xbox__header {
    display:none
}
.xbox_transfers .xbox__header {
    display:none
}
.xbox_transfers .xbox__header {
    display:none
}
.xbox_profile .xbox__header {
    display:none
}
.xbox__footer .btn {
    border-radius:0px 0px 15px 15px;
    cursor:pointer
}
.btn-danger {
    color:#e48683;
    background-color:unset;
    border-color:#e48683;
    text-transform:uppercase;
    font-weight:bold;
    border:dashed 2px #e48683 !important
}
.btn-danger:hover {
    color:white;
    background-color:#e48683;
    border-color:#e48683
}
.btn,.btn:hover {
    border:unset
}
.table-wrapper .table-footer {
    margin-top:10px
}
.table-body {
    border-radius:15px
}
.table > thead > tr > th {
    background:#262626;
    color:#fff
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color:#333;
    color:#fff
}
.table-striped > tbody > tr {
    background-color:#262626;
    color:#fff
}
.xbox_profile .table-wrapper,table {
    border-radius:15px 15px;
    overflow:hidden
}
.table td,.table th {
    padding:0.75rem;
    vertical-align:middle
}
.image64 {
    height:64px;
    width:64px;
    background:#3c3c3c;
    padding:7px;
    border-radius:15px;
    box-shadow:inset 2px 4px 3px #2d2d2d
}
.mb-3 {
    margin-bottom:1rem !important;
    background:#262626;
    padding:10px;
    border-radius:15px
}
.mb-3 .btn-success {
    background:#333;
    color:#fff;
    opacity:1;
    border-radius:15px;
    transition:all 0ms !important
}
.mb-3 .btn-success:hover {
    background:#3a3a3a;
    color:#fff;
    opacity:1;
    border-radius:15px;
    transition:all 120ms !important
}
.mb-3 .ladda-label {
    transition:all 0ms !important
}
.mb-3 .btn-primary {
    color:#fff;
    background-color:#91c8ee;
    border-radius:15px
}
.mb-3 .btn-primary:hover {
    color:#fff;
    background-color:#87bade;
    border-radius:15px
}
.table-striped .btn-success {
    background:#bf5660;
    border:none;
    color:#fff;
    opacity:1;
    margin-left:10px
}
.table-striped .btn-block {
    display:block;
    width:unset;
    border-radius:10px
}
.xbox_promocodes .xbox__header {
    display:none
}
label {
    display:none
}
.xbox_promocodes .form-group {
    margin-bottom:0px
}
.xbox_promocodes .form-control {
    padding:13px 13px 13px 20px
}
.table-striped a {
    color:#fff;
    font-weight:bold
}
.xbox_promocodes .input-group {
    width:152.5%
}
@media (max-width:1200px) {
    .xbox_promocodes .input-group {
        width:100%
    }
}
.xbox_promocodes .btn {
    border-radius:15px;
    box-shadow:unset
}
.xbox_promocodes .btn-success.disabled,.btn-success:disabled {
    background-color:#333 !important;
    border-color:unset;
    opacity:1;
    color:#fff
}
.xbox_promocodes .btn-success.disabled,.btn-success:disabled:hover {
    background-color:#333;
    border-color:unset;
    opacity:1;
    color:#fff
}
.footer {
    display:none
}
.footer a {
    color:#868ca3
}
@media (min-width:576px) {
    .modal-sm {
        max-width:350px
    }
}
.modal-header {
    justify-content:center;
    padding:0px
}
.modal-header,.modal-footer {
    background:none !important
}
.modal-footer {
    padding-top:0px
}
.modal .modal-body {
    padding-bottom:0px;
    padding:15px
}
.modal-body {
    background:none
}
.modal .modal-content {
    background:#262626;
    border-radius:15px;
    padding:15px;
    box-shadow:0px 10px 10px -8px rgba(38, 38, 38, .9)
}
.modal .modal-header h4 {
    font-size:26px;
    font-weight:bold;
    display:block;
    text-align:center;
    color:#bbb;
    padding-top:15px;
    text-transform:uppercase
}
.modal .btn {
    border-radius:15px;
    cursor:pointer
}
.input-group-btn .modal .btn {
    box-shadow:unset
}

.modal-kit .modal-content,.modal-info .modal-content {
    width: unset
}

.modal-footer .btn {
    padding: 13px 36px 13px 36px;
    border-radius: 15px
}

.modal-kit .modal-dialog .modal-content .modal-footer .btn {
    padding: 13px 30px 13px 30px;
    left: unset
}
.btn-secondary {
    color:#b2b2b2
}
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active {
    color:#fff
}
.form-control:disabled,.form-control[readonly] {
    background:#333
}
.modal-item .input-group-btn:not(:first-child) > .btn,.input-group-btn:not(:first-child) > .btn-group {
    background:#333;
    opacity:1
}
.input-group .form-control:not(:first-child) {
    border-radius:0 15px 15px 0
}
.input-group .form-control:not(:last-child) {
    margin-right:1px;
    border-radius:15px 0 0 15px
}
.input-group-btn:not(:last-child) > .btn,.input-group-btn:not(:last-child) > .btn-group {
    background:#333;
    opacity:1
}
.fa-minus:before {
    content:"\F068";
    color:#fff
}
.fa-plus:before {
    content:"\F067";
    color:#fff
}
.modal-body .form-control {
    padding:13px 13px 13px 13px
}
.input-group-btn .form-control {
    text-align:center
}
.text-center {
    text-align:center !important;
    margin-bottom:30px
}
.fade {
    backdrop-filter:blur(5px)
}
.modal-service .modal-footer {
    margin-top:10px
}
.modal-service .modal-dialog .modal-content .modal-footer {
    justify-content:right
}
.modal-title {
    margin-bottom:0;
    line-height:1.5;
    text-align:center;
    color:#bdbdbd;
    text-transform:uppercase;
    font-weight:bold
}
.roulette-item {
    box-shadow:0 1px 12px 6px rgba(0, 0, 0, .4);
    border-bottom:solid 4px red
}
.roulette-item {
    box-shadow:none;
    background:transparent;
    border:1px solid;
    border-color:rgba(255, 255, 255, 0);
    transform:skewY(-2deg)
}
.blueprint__image,.roulette-item_blueprint .roulette-item__image {
    background:url(https://i.imgur.com/tXpilqO.png);
    background-size:cover;
    box-shadow:none
}
.roulette-item__description {
    padding:0 15px 15px 15px
}
.roulette-item__description > b {
    font-size:14px;
    font-weight:100
}
.roulette-item__image {
    padding:0px
}
.roulette-item__image {
    width:240px;
    height:240px;
    padding:25px;
    overflow:hidden;
    border-radius:35px;
    background:#333;
    transform:scale(0.9);
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.05)
}
.input-group-addon:not(:last-child) {
    border-radius:15px 0px 0px 15px
}
.roulette:before {
    border-top:20px solid #bbb;
    animation-duration:2s;
    animation-iteration-count:infinite
}
.roulette:before {
    content:"";
    position:absolute;
    left:50%;
    margin:-16px 0 0 -18px;
    border-left:18px solid transparent;
    border-right:18px solid transparent;
    align-content:center;
    animation-name:bounce-2;
    animation-timing-function:ease
}
.modal-roulette .modal-content {
    width:100% !important
}
.modal-roulette .roulette {
    -webkit-mask-image:linear-gradient(to left, rgba(255, 255, 255, 0) 5%, #000 34%, #000 65%, rgba(255, 255, 255, 0) 86%)
}
.modal-roulette .modal-content {
    border-radius:15px;
    padding:32px;
    width:400px;
    color:#909090
}
.roulette__description {
    text-align:center
}
@keyframes bounce-2 {
    0% {
        transform:translateY(0)
    }
    50% {
        transform:translateY(-10px)
    }
    100% {
        transform:translateY(0)
    }
}
.icon-blueprints {
    width:40px;
    height:40px;
    margin-right:16px;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    background:url(https://i.imgur.com/tXpilqO.png);
    background-size:110%;
    background-position:center center;
    background-repeat:no-repeat
}
.modal-roulette .modal-content .modal-footer .btn {
    padding:13px 36px 13px 36px;
    left:unset
}
.desc-service {
    background:black;
    padding:4px;
    border-left:3px solid #6e6e6e;
    margin:0;
    color:#fff;
    letter-spacing:0px;
    border-radius:0px 15px 15px 0px;
    margin-bottom:2px;
    transition:all 0.2s ease-out;
    cursor:default;
    padding-left:14px
}
.desc-service:hover {
    transition:all 0.3s ease-out
}
.desc-service2 {
    background:black;
    border-left:3px solid #56bf85;
    -webkit-transform:skewY(0deg);
    transform:skewY(0deg);
    position:initial;
    letter-spacing:0;
    color:#fff;
    padding:7px;
    flex-direction:row;
    border-radius:0px 15px 15px 0px;
    margin-bottom:2px;
    cursor:pointer;
    transition:all 0.2s ease-out;
    padding-left:14px
}
.desc-service2:hover {
    letter-spacing:1px;
    transition:all 0.3s ease-out;
    color:#56bf85
}
.desc-service2:after {
    content:'';
    height:100%;
    width:40px;
    background:#ccc url(https://i.imgur.com/t2r2EWN.png) no-repeat;
    background-size:20px 20px;
    background-position:center;
    border-radius:0px 15px 15px 0px;
    position:absolute;
    font-size:20px;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    color:#fff;
    border:0;
    outline:0 none;
    padding:8px;
    transition:all 0.2s ease-out
}
.desc-service2:hover:after {
    content:'';
    height:100%;
    width:40px;
    background:#56bf85 url(https://i.imgur.com/t2r2EWN.png) no-repeat;
    background-size:20px 20px;
    background-position:center;
    border-radius:0px 15px 15px 0px;
    position:absolute;
    font-size:20px;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    border:0;
    outline:0 none;
    padding:8px;
    transition:all 0.2s ease-out
}
.desc-service_alert {
    margin-top:10px;
    letter-spacing:0px;
    border-radius:0px 20px 20px 0px;
    margin-bottom:7px;
    transition:all 0.2s ease-out;
    cursor:default;
    text-align:center;
    font-size:11px
}
.page-link {
    padding:8px 16px;
    margin-left:5px;
    background-color:#262626;
    border-radius:8px;
    color:#fff
}
.page-link:hover,.page-link:focus {
    background-color:#333;
    color:white
}
.page-item.active .page-link {
    color:#fff;
    background-color:#333;
    font-weight:bold
}
.page-item.disabled .page-link {
    color:#fff;
    background-color:#262626;
    opacity:1
}
.page-item:last-child .page-link {
    border-bottom-right-radius:15px;
    border-top-right-radius:15px
}
.page-item:first-child .page-link {
    border-bottom-left-radius:15px;
    border-top-left-radius:15px
}
@keyframes gradient {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0% 50%
    }
}
.product[href="/products/1133053"] .product__name {
    font-size:0px;
    right:10px;
    bottom:10px;
    text-align:center;
    background:linear-gradient(-45deg, #c05b5b, #b55481, #ba6b52, #c05584);
    background-size:400% 400%;
    animation:gradient 8s ease infinite;
    border-radius:15px;
    color:white
}
.product[href="/products/1133053"] .product__name:after {
    content:"БЕСПЛАТНО";
    font-size:14px
}
.product[href="/products/1133053"] .product__discount {
    display:none
}
.product[href="/products/1048887"] .product__name {
    font-size:0px;
    right:10px;
    bottom:10px;
    text-align:center;
    background:linear-gradient(-45deg, #5b6cc0, #545bb5, #5296ba, #5597c0);
    background-size:400% 400%;
    animation:gradient 8s ease infinite;
    border-radius:15px;
    color:white
}
.product[href="/products/1048887"] .product__name:after {
    content:"БЕСПЛАТНО";
    font-size:14px
}
.product[href="/products/1048887"] .product__discount {
    display:none
}
.row-skins2 {
    display:flex;
    flex-direction:row;
    justify-content:center
}
.container-user {
    cursor:pointer
}
.container-oplata:nth-child(1) {
    animation:zoomIn 1s;
    margin-right:10px
}
.container-oplata:nth-child(2) {
    animation:zoomIn 1.2s
}
#qiwi-inp-form:nth-child(1) {
    animation:zoomIn 0.6s
}
#fk-inp-form:nth-child(2) {
    animation:zoomIn 0.8s
}
.name-user {
    font-size:16px;
    line-height:20px;
    font-weight:600;
    color:#fff
}
.category-user {
    font-size:14px;
    line-height:18px;
    color:#bbb
}
.x-spoiler > .spoil-Untext {
    -webkit-transition:all 0.2s ease;
    -moz-transition:margin 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:margin 0.2s ease
}
.x-spoiler > input + .spoil-box > blockquote {
    display:none
}
.x-spoiler > input:checked + .spoil-box > blockquote {
    display:block
}
blockquote {
    margin:0 0 0rem
}
.spoil-button {
    width:93%;
    height:45px
}
.x-spoiler > input[type="checkbox"] {
    cursor:pointer;
    border-color:transparent !important;
    border-style:none !important;
    background:transparent none !important;
    position:absolute;
    z-index:1;
    margin:-16px 0 0 0;
    opacity:0
}
.x-spoiler span.spoil-close,.x-spoiler span.spoil-open {
    padding-left:2px;
    padding-right:8px;
    text-decoration:underline
}
.x-spoiler span.spoil-close:before {
    content:"\f0ab"
}
.x-spoiler span.spoil-open:before {
    content:"\f0a9"
}
.x-spoiler > input[type="checkbox"]:focus {
    outline:none
}
.x-spoiler > input + .spoil-box > span.spoil-close {
    display:none
}
.x-spoiler > input:checked + .spoil-box > span.spoil-close {
    display:inline;
    text-decoration:none
}
.x-spoiler > input:checked + .spoil-box > span.spoil-open {
    display:none
}
.x-spoiler > input + .spoil-box > span.spoil-open {
    display:inline;
    text-decoration:none
}
.x-spoiler blockquote,.x-spoiler {
    padding:1em;
    border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -ms-border-radius:15px
}
.x-spoiler {
    overflow-x:hidden;
    margin-bottom:10px;
    background:white
}
.x-spoiler blockquote {
    margin-top:12px;
    min-height:23px;
    background:#e9eaec
}
.btn-skins {
    text-align:center;
    display:grid
}
.btn-skin {
    border-radius:25px;
    cursor:pointer;
    color:white;
    background:#9ec483;
    border:unset;
    border-color:unset;
    outline:none !important;
    margin-top:10px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    letter-spacing:0px;
    transition:all 0.2s ease-out
}
.btn-skin:hover {
    transition:all 0.2s ease-out;
    color:white;
    letter-spacing:3px
}
.btn-skin:focus {
    transition:all 0.2s ease-out;
    color:white;
    letter-spacing:3px
}
.spoil-box {
    color:#909090
}
.x-spoiler:nth-child(2) .spoil-box {
    color:#c48a83
}
.x-spoiler:nth-child(3) .spoil-box {
    color:#9ec483
}
.spoil-head {
    color:#909090
}
.spoil-Untext {
    color:#909090
}
.row-skins {
    display:flex;
    flex-direction:row
}
.container-user {
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    width:364px;
    margin-left:0px;
    margin-right:10px;
    padding:16px;
    border-radius:12px;
    background:#fff;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:initial;
    transition:all 0.2s ease-out;
    cursor:pointer
}
.container-user:hover {
    transform:translate3d(0px, 5px, 0px)
}
.icon-user {
    width:40px;
    height:40px;
    margin-right:16px;
    border-radius:30px;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.textContainer-user {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.name-user {
    font-size:16px;
    line-height:20px;
    font-weight:600;
    color:#fff
}
.category-user {
    font-size:14px;
    line-height:18px;
    color:#bbb
}
.container-user1 {
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    width:364px;
    margin-left:0px;
    margin-right:0px;
    padding:16px;
    border-radius:12px;
    background:#fff;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:initial;
    transition:all 0.2s ease-out
}
.container-user1:hover {
    transform:translate3d(0px, 5px, 0px)
}
.icon-user1 {
    width:40px;
    height:40px;
    margin-right:16px;
    border-radius:30px;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.textContainer-user1 {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.name-user1 {
    font-size:16px;
    line-height:20px;
    font-weight:600;
    color:#23272a
}
.category-user1 {
    font-size:14px;
    line-height:18px;
    color:#bbb
}
@media (max-width:423px) {
    .row-skins {
        display:contents;
        flex-direction:row
    }
}
@media (max-width:423px) {
    .container-user {
        display:flex;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:10px;
        padding:16px;
        width:unset;
        border-radius:12px;
        background:#fff;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        text-align:initial;
        overflow-x:hidden
    }
}
@media (max-width:423px) {
    .container-user1 {
        display:flex;
        margin-left:0px;
        margin-right:0px;
        padding:16px;
        width:unset;
        border-radius:12px;
        background:#fff;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        text-align:initial;
        overflow-x:hidden
    }
}
.avatar {
    height:64px;
    width:64px;
    border-radius:15px
}
.avatar {
    transform:scale(1);
    transition:all 220ms ease-out
}
.avatar:hover {
    transform:scale(0.9);
    transition:all 220ms ease-out
}
.avatar {
    animation:zoomIn 1s
}
.avatar {
    background:#dfdfdf
}
.server-address .input-group-btn:not(:first-child) > .btn {
    color:#fff;
    border-radius:0px 15px 15px 0px !important;
    background:#bf5660
}
.server-map__image {
    background:#fff;
    border-radius:15px;
    padding:15px
}
.s-alert-top-right {
    top:45px;
    right:12px;
    bottom:auto;
    left:auto
}
.s-alert-box {
    border-radius:15px;
    font-family:'Open Sans', Roboto, sans-serif;
    font-weight:100;
    font-size:14px;
    padding-top:8px;
    padding-bottom:8px
}
.s-alert-box {
    border-radius:15px;
    color:white
}
.s-alert-success {
    border-radius:15px;
    color:white;
    background-image:url('https://i.imgur.com/kHHOuVK.png');
    background-repeat:no-repeat;
    background-size:200px;
    background-position:30% 50%;
    background-origin:content-box
}
.xbox_player .xbox__footer {
    margin-top:10px
}
.xbox_player .xbox__header {
    margin-bottom:0px
}
.xbox_profile .table-wrapper,table {
    border-radius:unset;
    overflow:hidden
}
.player-stats__playerKills .table {
    border-radius:15px 15px 0px 0px
}
.player-stats__resources .table {
    border-radius:0px 0px 15px 15px
}
.player-stats__animalKills,.player-stats__deaths,.player-stats__entities,.player-stats__navigation,.player-stats__playerKills {
    margin-bottom:4px
}
.player-stats__navigation {
    margin-bottom:10px
}
.player-stats__profile {
    margin-bottom:20px;
    padding:15px;
    background:#262626;
    border-radius:0px 0px 15px 15px
}
.player-stats__navigation .nav-link:first-child {
    border-radius:15px 0px 0px 15px
}
.player-stats__navigation .nav-link:last-child {
    border-radius:0px 15px 15px 0px
}
.player-stats__navigation .nav-link:hover,.nav-link:focus,.nav-link:active {
    letter-spacing:0px
}
.player-stats__navigation .nav-pills .nav-link.active {
    letter-spacing:0px
}
.player-stats__profile .table-striped tbody tr,.player-stats .table-striped tbody tr {
    line-height:16px
}
.player-stats__profile table {
    border-radius:15px
}
.player-stats__profile .table td {
    vertical-align:middle;
    padding:5px
}
.player-stats__avatar img {
    width:183px;
    height:183px;
    border-radius:15px
}
.player-stats .table > thead > tr > th {
    background-color:#262626;
    text-align:center;
    color:#fff
}
.player-stats__animalKills > table > thead > tr > th:hover,.player-stats__deaths > table > thead > tr > th:hover,.player-stats__entities > table > thead > tr > th:hover,.player-stats__playerKills > table > thead > tr > th:hover,.player-stats__resources > table > thead > tr > th:hover {
    cursor:pointer;
    background-color:#333;
    color:#fff;
    text-align:center
}
.player-stats .table th {
    vertical-align:middle;
    padding:20px
}
@media (max-width:767px) {
    .player-stats__navigation .nav-link:first-child {
        border-radius:15px 15px 0px 0px
    }
}
@media (max-width:767px) {
    .player-stats__navigation .nav-link:last-child {
        border-radius:0px 0px 15px 15px
    }
}
.player-stats__playerKills .table > thead > tr > th:before {
    font-family:FontAwesome;
    content:"\f0c0";
    margin-right:5px
}
.player-stats__animalKills .table > thead > tr > th:before {
    font-family:FontAwesome;
    content:"\f1b0";
    margin-right:5px
}
.player-stats__deaths .table > thead > tr > th:before {
    font-family:FontAwesome;
    content:"\f235";
    margin-right:5px
}
.player-stats__entities .table > thead > tr > th:before {
    font-family:FontAwesome;
    content:"\f1b3";
    margin-right:5px
}
.player-stats__resources .table > thead > tr > th:before {
    font-family:FontAwesome;
    content:"\f080";
    margin-right:5px
}
.xbox_player .btn-secondary {
    background:#262626;
    display:block;
    border-radius:15px;
    color:#fff;
    font-weight:bold;
    padding:10px;
    border:dashed 1px black;
    transition:all 0.3s
}
.xbox_player .btn-secondary:hover {
    color:#fff;
    background:#333;
    transition:all 0.3s
}
.xbox_player .btn-secondary:before {
    font-family:FontAwesome;
    content:"\f060";
    margin-right:5px
}
.xbox_profile .table {
    margin:0;
    border-radius:15px
}
.btn-danger,.btn-danger:hover,.btn-danger:focus,.btn-danger:active {
    border:unset
}
.xbox_profile .table th {
    vertical-align:middle;
    padding:20px
}
.xbox_rules {
    text-transform:uppercase;
    text-align:center;
    color:#ccc;
    border-radius:15px
}
.rules {
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 0px;
    background: #272727;
    color: #fff;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0px;
    text-align: center;
}
.rules:first-child {
    border-radius:15px 15px 0px 0px
}
.rules:last-child {
    border-radius:0px 0px 15px 15px
}
.rules:hover {
    background:#333;
    transition:all 0.2s ease-in-out;
    color:#fff;
    letter-spacing:2px
}
.MsoNormal {
    font-weight:bold;
    font-size:20px;
    text-align:center;
    background:#2b2b2b;
    border-radius:15px
}
.MsoNormal2 {
    font-weight:bold;
    font-size:20px;
    text-align:center;
    background:linear-gradient(110deg, #a95555, #5040aa, #3f74a6);
    background-size:400% 400%;
    animation:gradient 8s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    border-radius:15px
}
@media (min-width:767px) {
    .modal-lg-block {
        max-width:1050px !important
    }
}
@media (max-width:767px) {
    .xbox_custom_block .kit-items {
        display:block
    }
    .xbox_custom_block .kit-items__item {
        width:50% !important
    }
    .block_by_category {
        width:100% !important;
        height:auto !important
    }
}
.block_by_category .kit-item {
    margin-bottom:-2px
}
.xbox_custom_block .kit-items__item {
    width:80%;
    margin-bottom:0px;
    display:inline-flex
}
.block_by_category {
    width:13%
}
.block_category_1 {
    border-radius:20px 0px 0px 20px;
    background-color:rgba(156, 206, 111, 0.85)
}
.block_by_category:before {
    text-transform:uppercase;
    display:block;
    width:100%;
    text-align:center;
    font-size:25px;
    color:#e9eaec;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.block_category_1:before {
    border-radius:20px 0px 0px 20px;
    background:rgba(156, 206, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"1 час";
    font-size:20px
}
.block-lvl-1 {
    background:#d2d242
}
.block_category_2 {
    background-color:rgba(187, 219, 111, 0.85)
}
.block_category_2:before {
    background:rgba(187, 219, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"2 часа";
    font-size:20px
}
.block-lvl-2 {
    background:#385ad2
}
.block_category_3 {
    background-color:rgba(212, 219, 111, 0.85)
}
.block_category_3:before {
    background:rgba(212, 219, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"3 часа";
    font-size:20px
}
.block-lvl-3 {
    background:#d23838
}
.block_category_4 {
    background-color:rgba(219, 206, 111, 0.85)
}
.block_category_4:before {
    background:rgba(219, 206, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"5 часов";
    font-size:20px
}
.block-lvl-4 {
    background:#38d27c
}
.block_category_5 {
    background-color:rgba(219, 191, 111, 0.85)
}
.block_category_5:before {
    background:rgba(219, 191, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"20 часов";
    font-size:20px
}
.block-lvl-5 {
    background:#38d2a0
}
.block_category_6 {
    background-color:rgba(219, 151, 111, 0.85)
}
.block_category_6:before {
    background:rgba(219, 151, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"24 часа";
    font-size:20px
}
.block-lvl-6 {
    background:#aa69c5
}
.block_category_7 {
    background-color:rgba(219, 116, 111, 0.85);
    border-radius:0px 20px 20px 0px
}
.block_category_7:before {
    border-radius:0px 20px 20px 0px;
    background:rgba(219, 116, 111, .65);
    text-shadow:rgba(27, 27, 27, .7) 0px 0px 10px;
    color:#fff;
    content:"26 часов";
    font-size:20px
}
.block-lvl-7 {
    background:#dc9e2d
}
.block_by_category:nth-child(1) .kit-items__item {
    width:89%
}
.block_by_category:nth-child(1) {
    width:10.5%
}
.block_by_category:nth-child(2) .kit-items__item {
    width:49.2%
}
.block_by_category:nth-child(2) {
    width:19%
}
.block_by_category:nth-child(3) {
    width:10.5%
}
.block_by_category:nth-child(3) .kit-items__item {
    width:89%
}
.block_by_category:nth-child(4) {
    width:19%
}
.block_by_category:nth-child(4) .kit-items__item {
    width:49.2%
}
.block_by_category:nth-child(5) {
    width:11%
}
.block_by_category:nth-child(5) .kit-items__item {
    width:85%
}
.block_by_category:nth-child(6) .kit-items__item {
    width:85%
}
.block_by_category:nth-child(6) {
    width:11%
}
.block_by_category:nth-child(7) .kit-items__item {
    width:85%
}
.block_by_category:nth-child(7) {
    width:11%
}
.xbox_custom_block {
    text-align:center
}
.block_category_1 .kit-item {
    background:rgba(156, 206, 111, .8) !important
}
.block_category_2 .kit-item {
    background:rgba(187, 219, 111, .8) !important
}
.block_category_3 .kit-item {
    background:rgba(212, 219, 111, .8) !important
}
.block_category_4 .kit-item {
    background:rgba(219, 206, 111, .8) !important
}
.block_category_5 .kit-item {
    background:rgba(219, 191, 111, .8) !important
}
.block_category_6 .kit-item {
    background:rgba(219, 151, 111, .8) !important
}
.block_category_7 .kit-item {
    background:rgba(219, 116, 111, .8) !important
}
.block_category_8 .kit-item {
    background:#000 !important
}
.block_by_category .kit-item {
    position:relative;
    background:#333;
    margin:8px;
    border-radius:15px;
    overflow:hidden;
    text-align:center;
    cursor:pointer;
    box-shadow:unset;
    animation:zoomIn 1s
}
.xbox_custom_block .kit-items {
    border-radius:20px
}
.store-categories {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    transform: translateX(-149px) rotate(360deg) translateY(0px);
    top: 20px;
}
.store-categories-1 {
    text-align: center;
    margin-bottom: 15px;
}
.store-categories-1 .btn-secondary {
    color:#fff;
    background:#333;
    border-color:transparent;
    outline:none !important
}
.store-categories-1 .btn-secondary:hover {
    color:#fff;
    background:#bf5660;
    border-color:transparent;
    outline:none !important
}
.store-categories-1 .btn-secondary.active,.store-categories-1 .btn-secondary:active,.show > .store-categories-1 .btn-secondary.dropdown-toggle {
    color:#fff;
    background:#bf5660
}
.serverheader {
    color:#bbb;
    border-radius:15px;
    margin-bottom:10px;
    font-size:20px
}
.serverheader span {
    background:#333;
    padding:2px 12px 2px 12px;
    border-radius:20px;
    color:white;
    text-transform:uppercase;
    font-size:15px
}
.serverheader span:before {
    font-family:FontAwesome;
    content:'\f017';
    font-weight:100;
    margin-right:5px
}
@media (max-width:380px) {
    .serverheader {
        font-size:15px
    }
}
.modal-kit .modal-content,.modal-info .modal-content {
    width: unset
}

.kit-item_blueprint .kit-item__image {
    background: url(https://i.imgur.com/tXpilqO.png);
    background-size: cover
}

.kit-item_blueprint .kit-item__name {
    display: none
}

.kit-item {
    position: relative;
    background: #333;
    margin: 8px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s;
    box-shadow: unset
}

.kit-item:hover {
    transform: scale(1.04) rotate(-5deg);
    transition: all 0.3s;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.1)
}

.kit-item__quantity {
    position: absolute;
    color: #e0e0e0;
    font-size: 17px
}

.kit-item__name {
    font-size: 11px;
    background: transparent
}

.kit-item__quantity {
    background: none
}

@media (max-width: 1000px) {
    .kit-items__item {
        width:30%
    }
}

@media (min-width: 992px) {
    .kit-items__item {
        width:20%
    }
}

@media (max-width: 500px) {
    .kit-items__item {
        width:50%
    }
}

@media (min-width: 1200px) {
    .xbox_custom_kits .kit-items__item {
        width:12.5% !important
    }
}

@media (max-width: 1000px) {
    .xbox_custom_kits .kit-items__item {
        width:30%
    }
}

@media (min-width: 992px) {
    .xbox_custom_kits .kit-items__item {
        width:20%
    }
}

@media (max-width: 500px) {
    .xbox_custom_kits .kit-items__item {
        width:50%
    }
}

.kit-item__image {
    width: 100%;
    transform: scale(0.7)
}

.kit_set .kit-item__quantity {
    background: unset;
    color: #fff;
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    margin-top: -15px;
    border-radius: 0px
}

.kit_set .kit-item__quantity {
    position: unset
}

.xbox_custom_kits {
    margin-top: 20px
}
.server-description {
    background:#262626;
    padding:20px;
    text-align:center;
    color:#fff;
    border-radius:15px
}
@media (max-width:994px) {
    .footer-link__list {
        margin-bottom:18px
    }
}
.product__servers {
    display:none
}
.sk-spinner-wave div {
    background-color:#333
}
.xbox_custom_rules {
    color:#fff
}
.xserver__links a {
    margin-top:1px !important
}
.xserver__links {
    margin-top:-30px !important;
    color:white
}
.avatar {
    background:transparent
}
.xbox_player .xbox__header {
    display:block !important
}
.fa-play {
    margin-top:0px !important
}
.navbar {
    text-transform:none;
    background:#272727;
    z-index:100;
    box-shadow:none;
    padding:0px;
    border-radius:0px 0px 15px 15px
}
.navbar .navbar-brand,.navbar .navbar-brand:focus,.navbar .navbar-brand:hover,.navbar .navbar-nav .nav-link,.navbar .navbar-toggler,.navbar .navbar-toggler:focus,.navbar .navbar-toggler:hover {
    color:#fff
}
a[href="/tos"],a[href="mailto:abuse@moscow.ovh"] {
    display:none
}
.xbox_store > .xbox__footer {
    color:#3f3f3f;
    font-size:80%;
    background:none;
    text-align:center;
    margin-top:20px
}
select option {
    background-color:#333;
    color:#fff
}
div.input-group-addon {
    background:#333;
    color:#fff;
    border-radius:25px;
    border:unset
}
.col-md-8 .input-group-addon {
    background:#262626;
    color:#fff;
    border:unset
}
.col-md-4 .input-group-addon {
    background:#262626
}
.xbox__body .input-group-addon {
    background:#262626
}
.oplata_info {
    display:flex;
    justify-content:center;
    margin-top:30px
}
.qiwi-widget-title::selection,#qiwi-donation-amount::selection {
    background:rgba(233, 63, 100, .55)
}
@media (max-width:767px) {
    .oplata_info {
        display:grid;
        justify-content:center
    }
    #qiwi-inp-form {
        margin-bottom:15px
    }
}
.qiwi-inp-main {
    display:flex;
    flex-direction:column;
    width:250px;
    height:250px;
    border-radius:50px;
    background-color:#fff;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.qiwi-inp-box {
    color:#fff;
    margin:0px 30px;
    flex-direction:column;
    position:relative;
    display:flex;
    justify-content:left;
    align-items:center
}
.qiwi-submit-main {
    font-family:Verdana, Helvetica, Arial, sans-serif;
    outline:none !important;
    box-shadow:0 0px 25px 0 rgba(210, 87, 87, .25);
    margin:22px auto 0;
    margin:30px auto 0;
    width:100%;
    height:48px;
    border-radius:100px;
    background:linear-gradient(45deg, #d29557, #d25757);
    line-height:47px;
    font-size:16px;
    font-weight:800;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    border:none;
    padding:0;
    transform:translate3d(0px, 5px, 0px);
    cursor:pointer;
    overflow:hidden;
    transition:box-shadow 300ms ease 0s, transform 300ms ease 0s;
    text-overflow:ellipsis
}
.qiwi-submit-main:hover {
    transform:translate3d(0px, 0px, 0px);
    transition:box-shadow 300ms ease 0s, transform 300ms ease 0s
}
.qiwi-inp-other {
    background-color:#fff;
    color:#eceeef;
    align-items:center;
    transition:all 300ms ease 0s
}
.qiwi-inp-other:hover {
    background-color:#ff8c00;
    color:#fff;
    align-items:center;
    transition:all 300ms ease 0s
}
.qiwi-widget-title2 {
    margin-top:30px;
    margin-bottom:10px;
    font-size:16px;
    font-weight:900;
    text-align:center;
    color:#000;
    overflow:hidden;
    text-overflow:ellipsis;
    transition:all 300ms ease 0s
}
.qiwi-inp-other:hover .qiwi-widget-title2 {
    color:#fff;
    transition:all 300ms ease 0s
}
.qiwi-inp-other-img {
    width:30%;
    margin-top:15px
}
.appcent-error-box {
    left:0;
    bottom:-14px;
    height:13px;
    text-align:center
}
.qiwi-error-box {
    left:0;
    bottom:-14px;
    height:13px;
    text-align:center
}
.qiwi-button-box {
    padding:0px 23px 23px
}
.qiwi-rub {
    position:absolute;
    right:10px;
    bottom:34%;
    width:12px;
    height:22px;
    opacity:0.5;
    font-size:20px;
    font-weight:300;
    text-align:left;
    color:#fff
}
#qiwi-donation-amount {
    outline:none;
    margin:25px auto 5px;
    width:100%;
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
    color:inherit;
    padding:0 16px 0 0;
    -moz-appearance:textfield;
    -webkit-appearance:none;
    box-sizing:border-box;
    border:0;
    border-bottom:1px solid #d8d8d8;
    box-shadow:none;
    background-color:transparent;
    padding-left:0.8rem
}
.qiwi-label {
    left:13px;
    bottom:44px;
    position:absolute;
    font-weight:300;
    text-align:left;
    color:transparent
}
.qiwi-widget-title {
    margin-top:20px;
    margin-bottom:0px;
    font-size:16px;
    font-weight:900;
    text-align:center;
    color:#fff;
    overflow:hidden;
    text-overflow:ellipsis
}
.qiwi-widget-title p {
    font-size:13px;
    color:#b5b5b5;
    font-weight:300
}
.qiwi-inp-oplata {
    display:flex;
    flex-direction:column;
    width:100%;
    height:249px;
    border-radius:15px;
    background-color:#333;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.container-oplata {
    display:-webkit-inline-box;
    margin-bottom:15px;
    padding:16px;
    height:73px;
    width:300px;
    border-radius:12px;
    background:#333;
    -webkit-box-sizing:border-box;
    text-align:initial;
    transition:all 0.2s ease-out;
    cursor:pointer;
    transform:scale(1);
    align-items:center
}
.container-oplata:hover {
    transform:scale(0.95)
}
.container-oplata {
    display:flex
}
.icon-user-oplata {
    width:40px;
    height:40px;
    margin-right:16px;
    border-radius:0px;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.textContainer-oplata {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-evenly
}
.container-oplata:nth-child(1) {
    animation:zoomIn 0.6s
}
.container-oplata:nth-child(2) {
    animation:zoomIn 0.8s
}
.container-oplata:nth-child(3) {
    animation:zoomIn 1s
}
.qiwi-inp-oplata {
    animation:zoomIn 0.8s
}
#fk-donation-amount {
    outline:none;
    margin:25px auto 5px;
    width:100%;
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
    color:inherit;
    padding:0 16px 0 0;
    -moz-appearance:textfield;
    -webkit-appearance:none;
    box-sizing:border-box;
    border:0;
    border-bottom:1px solid #d8d8d8;
    box-shadow:none;
    background-color:transparent;
    padding-left:0.8rem
}
#fk-donation-amount::selection {
    background:rgba(233, 63, 100, .55)
}
.oplata_info {
    display:flex;
    gap:15px;
    flex-wrap:wrap
}
.oplata_info form {
    flex-grow:1
}
.oplata_cont {
    flex-grow:1
}
.container-oplata {
    width:100%
}
button#fk-submit-main {
    background:linear-gradient(45deg, #363636, #292929);
    box-shadow:0 12px 15px 0 rgba(53, 53, 53, .2)
}
#appcent-donation-amount {
    outline:none;
    margin:25px auto 5px;
    width:100%;
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
    color:inherit;
    padding:0 16px 0 0;
    -moz-appearance:textfield;
    -webkit-appearance:none;
    box-sizing:border-box;
    border:0;
    border-bottom:1px solid #d8d8d8;
    box-shadow:none;
    background-color:transparent;
    padding-left:0.8rem
}
#appcent-donation-amount::selection {
    background:rgba(233, 63, 100, .55)
}
.oplata_info {
    display:flex;
    gap:15px;
    flex-wrap:wrap
}
.oplata_info form {
    flex-grow:1
}
.oplata_cont {
    flex-grow:1
}
.container-oplata {
    width:100%
}
button#appcent-submit-main {
    background:linear-gradient(45deg, #5783d2, #57a0d2);
    box-shadow:0 0px 25px 0 rgba(87, 160, 210, .25)
}
.service__description a.priv_days {
    color:#999;
    text-transform:uppercase;
    font-size:13px
}
.discord-b {
    background-color:#262626;
    border-radius:0px 15px 15px 0px;
    font-size:17px;
    color:#fff;
    width:140px;
    height:66px;
    display:block;
    line-height:64px;
    position:absolute;
    left:52.5%;
    background-image:url('https://pic.moscow.ovh/images/2022/07/22/968d01ac5f1fa2ad6a8fc3b910fd6936.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 50%;
    background-origin:content-box;
    cursor:pointer;
    transition:0.5s
}
.vk-b {
    background-color:#262626;
    border-radius:15px 0px 0px 15px;
    color:#fff;
    width:140px;
    height:66px;
    display:block;
    line-height:64px;
    background-image:url('https://pic.moscow.ovh/images/2022/07/22/210cf5d41bf06d2c5a2af68de984d406.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 50%;
    background-origin:content-box;
    cursor:pointer;
    transition:0.5s
}
.vk-b:hover {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
    transition:0.3s;
    background-color:#262626;
    text-decoration:none !important;
    box-shadow:0 5px 0 #48a4dc;
    flex-basis:150%;
    transform:translateY(-4px)
}
.discord-b:hover {
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
    transition:0.3s;
    background-color:#262626;
    text-decoration:none !important;
    box-shadow:0 5px 0 #dc6648;
    flex-basis:150%;
    transform:translateY(-4px)
}
span {
    font-family:'Jost', sans-serif
}
a#container-oplata-prem-14d:hover {
    transform:scale(0.95)
}
a#container-oplata-prem-14d {
    transition:all ease-out 0.2s;
    cursor:pointer;
    width:49%;
    height:70px;
    background:#333;
    -webkit-box-align:center
}
.dopus {
    margin-top:15px;
    display:flex;
    justify-content:space-between
}
#dop_1 {
    animation:zoomIn 2.4s
}
#dop_2 {
    animation:zoomIn 2.4s
}
#dop_3 {
    animation:zoomIn 2.8s
}
#dop_4 {
    animation:zoomIn 3s
}
.dopus .category-user {
    font-size:12px
}
.dopus .name-user {
    font-size:14px
}
.dopus .priv_discount {
    font-size:12px;
    padding:1px 5px 1px 5px;
    cursor:pointer;
    background:linear-gradient(45deg, #3c6af2, #7785df, #6eade9, #5d64dd);
    background-size:400% 400%;
    animation:gradient 5s ease infinite
}
#dop_2 .priv_discount {
    background:linear-gradient(45deg, #72d64c, #3bc561, #74c83d, #1ab834);
    background-size:400% 400%
}
#dop_3 .priv_discount {
    background:linear-gradient(-45deg, #f2be6f, #f4a155, #ec9a6d, #e0a131);
    background-size:400% 400%
}
#dop_4 .priv_discount {
    background:linear-gradient(-45deg, #dd6464, #d55252, #e06943, #d82056);
    background-size:400% 400%
}
.product[href="/products/1132604"] .product__name {
    font-size:0px
}
.product[href="/products/1132604"] .product__name:after {
    content:"RUSTY";
    font-size:12px
}
.product[href="/products/1132604"] .product__price:before {
    content:"От 450 RUB";
    font-size:14px
}
.product[href="/products/1132604"] .product__price {
    font-size:0px
}
.product[href="/products/1132604"] .product__price-old {
    display:none
}
.product[href="/products/1132604"] .product__discount {
    display:none
}
.product[href="/products/1159661"] .product__name {
    font-size:0px
}
.product[href="/products/1159661"] .product__name:after {
    content:"LIFE";
    font-size:12px
}
.product[href="/products/1159661"] .product__price:before {
    content:"От 360 RUB";
    font-size:14px
}
.product[href="/products/1159661"] .product__price {
    font-size:0px
}
.product[href="/products/1159661"] .product__price-old {
    display:none
}
.product[href="/products/1159661"] .product__discount {
    display:none
}
.product[href="/products/1132608"] .product__name {
    font-size:0px
}
.product[href="/products/1132608"] .product__name:after {
    content:"ELITE";
    font-size:12px
}
.product[href="/products/1132608"] .product__price:before {
    content:"От 270 RUB";
    font-size:14px
}
.product[href="/products/1132608"] .product__price {
    font-size:0px
}
.product[href="/products/1132608"] .product__price-old {
    display:none
}
.product[href="/products/1132608"] .product__discount {
    display:none
}
.product[href="/products/1132611"] .product__name {
    font-size:0px
}
.product[href="/products/1132611"] .product__name:after {
    content:"PREM";
    font-size:12px
}
.product[href="/products/1132611"] .product__price:before {
    content:"От 180 RUB";
    font-size:14px
}
.product[href="/products/1132611"] .product__price {
    font-size:0px
}
.product[href="/products/1132611"] .product__price-old {
    display:none
}
.product[href="/products/1132611"] .product__discount {
    display:none
}
.container-3WKP9P {
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    width:200px;
    margin-left:10px;
    margin-right:10px;
    padding-right:10px;
    padding-left:10px;
    border-radius:12px;
    background:#fff;
    background:var(--white);
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:initial;
    margin-bottom:15px;
    animation:zoomIn 1s
}
.icon-1lW2Ee {
    width:40px;
    height:40px;
    margin-right:16px;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.textContainer-mTPAIw {
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.name-3T7FKQ {
    font-size:15px;
    line-height:20px;
    font-weight:600;
    color:#23272a;
    color:var(--not-quite-black)
}
.category-1AFH8P {
    font-size:13px;
    line-height:18px;
    color:#99aab5;
    color:var(--greyple)
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0
}
a,button,input {
    outline:none
}
input {
    border-style:none
}
.modalpay {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    display:none;
    outline:0
}
.modalpay-backdrop.show {
    opacity:0.6 !important
}
.modalpay-backdrop.show {
    opacity:0.5
}
.modalpay-backdrop.fade {
    opacity:0
}
.modalpay-backdrop {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modalpay-open .modalpay {
    overflow-x:hidden;
    overflow-y:auto
}
.modalpay.show .modalpay-dialog {
    -webkit-transform:translate(0);
    transform:translate(0)
}
.modalpay.fade .modalpay-dialog {
    -webkit-transition:-webkit-transform 0.3s ease-out;
    transition:-webkit-transform 0.3s ease-out;
    transition:transform 0.3s ease-out;
    transition:transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform:translateY(0%);
    transform:translateY(0%)
}
.modalpay-dialog {
    position:relative;
    width:auto
}
.modalpay .modalpay-body {
    background:#17171f;
    border-radius:15px;
    box-shadow:0px 4px 8px rgba(73, 77, 113, 0.06);
    width:779px
}
.refill-window__header {
    padding:25px 39px 25px 39px;
    background-color:#1b1c24;
    border-top-left-radius:10px;
    border-top-right-radius:10px
}
.refill-window__title {
    position:relative;
    padding-left:35px;
    color:#fff;
    font-weight:800;
    font-size:21px;
    text-transform:uppercase
}
.refill-window__title:before {
    position:absolute;
    top:50%;
    left:0px;
    width:26px;
    height:24px;
    margin-top:-14px;
    background:url(https://svgshare.com/i/nnf.svg) no-repeat;
    content:""
}
.refill-window__close {
    position:absolute;
    top:0px;
    right:0px;
    z-index:5;
    width:50px;
    color:#5f6277;
    font-size:32px;
    text-align:center;
    transition:color 0.3s ease
}
button.refill-window__close {
    background-color:initial;
    border-style:none;
    border-radius:15px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center
}
.refill-window__close:hover {
    color:#8e91a7
}
.modalpay-dialog.modalpay-lg li,ul {
    list-style:none
}
.refill-window__content {
    padding:0 39px
}
.refill-window__footer {
    padding-bottom:25px
}
.refill-window__bonus {
    padding-bottom:23px;
    border-top:2px solid #1b1c24;
    text-align:center;
    text-align:-webkit-center
}
.refill-window__payments {
    height:100%;
    margin:18px -15px 18px -5px;
    padding-right:7px
}
.refill-window__payments-list {
    display:flex;
    flex-wrap:wrap
}
.refill-window__payment {
    flex:0 0 20%;
    padding:5px
}
.refill-window__payment-btn {
    position:relative;
    width:100%;
    height:84px;
    background-color:#1d1d26;
    border-radius:8px;
    cursor:pointer;
    transition:background-color 0.3s ease
}
.refill-window__payment-btn {
    background-color:#1d1d26;
    border-style:none;
    border-radius:15px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
    transition:0.3s
}
.refill-window__payment-btn:hover {
    background-color:#22222c
}
.refill-window__payment-btn--active,.refill-window__payment-btn--active:hover {
    background-color:#272730
}
.refill-window__payment-icon {
    max-width:70px
}
.other_crypto {
    COLOR:#fff;
    font-weight:600;
    font-size:0.53em;
    letter-spacing:0.05em
}
.refill-window__payment-label {
    position:absolute;
    top:5px;
    right:5px;
    padding:4px 6px;
    font-size:10px;
    background-color:#2d2d38;
    color:#fff;
    border-radius:6px;
    transition:background-color 0.3s ease
}
@media screen and (max-width:980px) {
    .modalpay-dialog.modalpay-lg {
        width:96%
    }
    .modalpay-body {
        width:100% !important
    }
    .refill-window__payments {
        height:50%
    }
    .refill-window__payment {
        flex:0 0 20%
    }
    .refill-window__payment-label {
        height:15px;
        font-size:6px
    }
}
@media screen and (max-width:650px) {
    .modalpay-dialog.modalpay-lg {
        width:96%
    }
    .modalpay-body {
        height:50% !important
    }
    .refill-window__payment-btn {
        height:50px
    }
    .refill-window__payment {
        flex:0 0 25%
    }
}
.refill-window__button-wrapper {
    flex-grow:1
}
.refill-window__payment-info {
    display:flex
}
.refill-window__amount-input-wrapper {
    display:flex
}
.refill-window__pre-input {
    display:flex;
    flex-shrink:0;
    align-items:center;
    justify-content:center;
    width:57px;
    height:60px;
    background-color:#252530;
    border-right:2px solid #1d1e29;
    border-radius:15px 0 0 15px;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none
}
.refill-window__amount-input {
    width:165px;
    height:60px;
    padding:0 17px;
    color:#c2c7d7;
    font-size:18px;
    background-color:#252530;
    border-radius:0 15px 15px 0
}
input.refill-window__amount-input::placeholder {
    color:#8b8e9e !important
}
.refill-window__amount-wrapper + .refill-window__button-wrapper {
    margin-left:10px
}
.refill-window__button {
    cursor:pointer;
    opacity:1;
    display:flex;
    flex-shrink:0;
    align-items:center;
    justify-content:center;
    width:100%;
    height:60px;
    padding:25px 15px;
    color:#14141b;
    font-weight:700;
    font-size:18px;
    text-align:center;
    text-transform:uppercase;
    background-color:#6494ce;
    border-radius:15px;
    border-style:none;
    transition:background-color 0.3s ease, opacity 0.3s ease
}
.refill-window__button:hover {
    background-color:#64ce81
}
.refill-window__button--disabled {
    cursor:not-allowed;
    opacity:0.5;
    display:flex;
    flex-shrink:0;
    align-items:center;
    justify-content:center;
    width:100%;
    height:60px;
    padding:25px 15px;
    color:#14141b !important;
    font-weight:700;
    font-size:18px;
    text-align:center;
    text-transform:uppercase;
    background-color:#6494ce;
    border-radius:15px;
    border-style:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none
}
.refill-window__button--enable {
    opacity:1;
    display:flex;
    flex-shrink:0;
    align-items:center;
    justify-content:center;
    width:100%;
    height:60px;
    padding:25px 15px;
    color:#14141b !important;
    font-weight:700;
    font-size:18px;
    text-align:center;
    text-transform:uppercase;
    background-color:#5689d6;
    border-radius:15px;
    border-style:none;
    transition:background-color 0.3s ease, opacity 0.3s ease;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none
}
.refill-window__button--enable:hover {
    background-color:#87faa6;
    cursor:pointer
}
#element1:hover,#element2:hover,#element3:hover,#element4:hover {
    background-color:#22222c !important
}
.modalpay-body button {
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none
}
#bonus-text {
    position:absolute;
    bottom:100px;
    left:50%;
    max-width:100%;
    padding:0 15px;
    overflow:hidden;
    color:#64ce82;
    font-size:14px;
    white-space:nowrap;
    text-align:center;
    text-overflow:ellipsis;
    background-color:#17171f;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%)
}
.xbox_custom_rules li {
    list-style-position:inside !important;
    list-style:disc
}
